.rcorners {
  border-radius: 10px;
  border-style:1px solid #E7E9EB;
  border-width: medium;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: red;
}
thead{
    background: #a5a2a2;
    color: #FFFFFF;
}
h3{
    color: red;
}



